.wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 70vh;
    margin-top: 24px;
}

.start {
    justify-content: flex-start;
}

.center {
    justify-content: center;
}

.end {
    justify-content: flex-end;
}